:root {
    --yellow:#EAC926;
    --blue:#03264C;
    --lightblue:#1259c3;
    --darkgrey:#666;
    --lightgrey:#ebebeb;
    --green:#39b54a;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--darkgrey);
    }
    
header {
    background-color: var(--yellow);
}

h3 {
    font-size: 24px;
    background-color: var(--lightgrey);
    padding-bottom: 24px;
    width: 100%;
}

p {
    font-size: 12px;
}

.truck {
    color: var(--green);
}

#precio {
    font-size: 18px;
}

#descuento {
    font-size: 16px;
    color: var(--green);
}

#descripciones {
    font-size: 16px;
}

#foot {
    color: var(--lightblue);
}















