:root {
    --yellow:#EAC926;
    --blue:#03264C;
    --lightblue:#1259c3;
    --darkgrey:#666;
    --lightgrey:#ebebeb;
    --green:#39b54a;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--darkgrey);
    background-color: var(--lightgrey);
    margin: 0;
    padding: 0;
    }
    
header {
    background-color: var(--yellow);
    list-style-type: none;
}
ul li {
    list-style: none;
}

a visited {
    color: black;
}

h3 {
    font-size: 24px;
    background-color: var(--lightgrey);
    padding-bottom: 24px;
    width: 100%;
}

p {
    font-size: 12px;
}

article {
    background-color: white;
    margin: 10px auto;
}

.truck {
    color: var(--green);
}

.precio {
    font-size: 18px;
}

.descuento {
    font-size: 16px;
    color: var(--green);
}

#descripciones {
    font-size: 16px;
}

#foot {
    color: var(--lightblue);
}















